body {
    margin: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
  }

  /* dropdown menu options */
.VirtualizedSelectOption {
    background-color: white;
    color: black;
 }

 #id_of_dropdown {
    width: 20%;
    padding: 10px;
    }

 #id_of_dropdown2 {
    width: 20%;
    padding: 10px;
    }